
<center><h1>Please Enter Change Amount</h1>



<h2><%= amount%> <%=message_one%> <%= results%> <%=number%></h2>

<form action='amount' method='post'>
		<input type='text' name='change_input'><br>
		<p><input type='submit'></p>